version: 2.1
jobs:
  build-mac:
    macos:
      xcode: "14.2.0"
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Build Mac App
          command: |
            chmod +x build-mac.sh
            ./build-mac.sh
      - store_artifacts:
          path: dist
          destination: mac-output
      - store_artifacts:
          path: build-log-mac.txt
          destination: build-log
workflows:
  build:
    jobs:
      - build-mac
